<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="Offcanvas navbar large"
>
  <div class="container-fluid">
    <a class="navbar-brand ms-5 me-5" routerLink="/"> My Project </a>
    <button
      class="navbar-toggler me-5"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar2"    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasNavbar2"
      aria-labelledby="offcanvasNavbar2Label"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
          What Are you looking for?
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-around flex-grow-1">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="gallery">Gallery</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
